HTTP_ADDRESS="0.0.0.0:8080"
HTTP_READ_TIMEOUT_SECONDS="10"
HTTP_WRITE_TIMEOUT_SECONDS="10"

OTP_DURATION_SECONDS="600" # 10 minutes
OTP_MAX_ATTEMPTS="3"

JWT_PUBLIC_KEY_FILE="/keys/public.pem"
JWT_PRIVATE_KEY_FILE="/keys/private.pem"
JWT_ACCESS_DURATION_SECONDS="3600" # 1 hour
JWT_REFRESH_DURATION_SECONDS="5184000" # 60 days

DATABASE_DATA_SOURCE_NAME="postgres://username:password@db:5432/database_name?sslmode=disable"
DATABASE_MAX_IDLE_CONNECTIONS="2"
DATABASE_MAX_OPEN_CONNECTIONS="0"
DATABASE_CONNECTION_MAX_IDLE_TIME_SECONDS="180"
DATABASE_CONNECTION_MAX_LIFE_TIME_SECONDS="3600"

MAILER="log" # either log (prints to stdout) or resend (requires MAILER_RESEND_API_KEY)
MAILER_RESEND_API_KEY=""
MAILER_TIMEOUT_SECONDS="10"
MAILER_FROM_ADDRESS="Name <name@domain>"
MAILER_OTP_REQUEST_SUBJECT="Confirm your email address"
MAILER_OTP_REQUEST_CONTENT="Hey!\n\nYou have requested an email address confirmation, please enter the following code:\n%s\n\nYou can safely ignore this message if it was not you making the request." # single %s format specifier is required
